#View {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#View > div {
  display: flex;
  height: 95vh;
  align-items: flex-end;
}

#Left {
  background-color: #cc3d3c;
  width: 500px;
  height: 100%;
  position: relative;
}

#Head {
  display: flex;
}

#big-orb {
  background-color: #fefeff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-left: 30px;
  margin-right: 10px;
}

#big-orb > div {
  background-color: #6894cb;
  border-radius: 100%;
  width: 80%;
  height: 80%;
}

.small-orb {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-top: 18px;
  margin-left: 18px;
}

#Main {
  background-color: #b63735;
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 0 100%, 0 10%, 35% 10%);
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
}

#Main > div {
  background-color: #cc3d3c;
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 0 100%, 0 10%, 35% 10%);
  width: 100%;
  height: 99%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

#Left-Body {
  border: 5px solid #b63735;
  width: 80%;
  height: 100%;
  margin-left: 18px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#main-frame {
  background-color: #e6e6e6;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0 90%);
  border-radius: 6px;
  width: 95%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-frame > div {
  display: flex;
}

.tiny-orb {
  background-color: #b63735;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 0 15px 10px 15px;
}

#bold-orb {
  background-color: #661e1d;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 10px 260px 0 20px;
}

#three-lines {
  width: 40px;
  height: 24px;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#three-lines > div {
  background-color: #1b1a1b;
  width: 100%;
  height: 4px;
}

#main-body {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

#left-modules {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#circle-module {
  background-color: #303030;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

#circle-module:hover {
  cursor: pointer;
  background-color: #1b1a1b;
}

#center-modules {
  width: 150px;
  height: 100%;
  padding-top: 30px;
  padding-left: 10px;
}

#flat-modules {
  display: flex;
  justify-content: space-between;
}

#flat-modules > div {
  width: 70px;
  height: 15px;
  border-radius: 10px;
}

#direction-modules {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#direction-modules > div {
  width: 120px;
  height: 120px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.direction-buttons {
  background-color: #303030;
}

.direction-buttons:hover {
  cursor: pointer;
  background-color: #1b1a1b;
}

#direction-center {
  background-color: #303030;
}

#Hinge {
  border-left: 4px solid #b63735;
  border-right: 4px solid #b63735;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#Hinge > div {
  border-top: 4px solid #b63735;
  border-bottom: 4px solid #b63735;
  margin: 50px 0;
  height: 30px;
}

#Right {
  background-color: #cc3d3c;
  clip-path: polygon(30% 0, 50% 10%, 100% 10%, 100% 100%, 0 100%, 0 0);
  width: 420px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Right > div {
  background-color: #b63735;
  clip-path: polygon(30% 0, 50% 10%, 100% 10%, 100% 100%, 0 100%, 0 0);
  width: 95%;
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Right > div > div {
  background-color: #cc3d3c;
  clip-path: polygon(29% 0, 49% 10%, 100% 10%, 100% 100%, 0 100%, 0 0);
  width: 97%;
  height: 98%;
}

#Right-Body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#button-grid {
  margin-top: 20px;
  width: 85%;
  height: 110px;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

#button-grid > div {
  background-color: #5377a3;
  border: 2px solid #5a516b;
  width: 100%;
  height: 100%;
}

#button-grid > div:hover {
  cursor: pointer;
  background-color: #49688f;
}

#two-lines {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 5px;
  margin-top: 15px;
}

#two-lines > div {
  background-color: #1b1a1b;
  width: 60px;
  height: 100%;
  margin-left: 12px;
  margin-right: 5px;
}

#two-buttons {
  width: 90%;
  height: 50px;
  display: flex;
}

#two-buttons > div {
  background-color: #e6e6e6;
  border: 2px solid #a6a6a6;
  border-radius: 4px;
  width: 60px;
  height: 100%;
}
#two-buttons > div:hover {
  cursor: pointer;
  background-color: #cccccc;
}

#yellow-button {
  width: 90%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

#yellow-button > div {
  background-color: #eb9907;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
}

#yellow-button > div:hover {
  cursor: pointer;
  background-color: #ce8507;
}

#two-screens {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
