#sub-screen {
  background-color: #394251;
  border-radius: 6px;
  width: 90%;
  height: 110px;
  color: #fff;
  overflow: auto;
  padding-top: 10px;
  padding-left: 10px;
}

#sub-screen span {
  font-size: 21px;
}
#sub-screen p {
  font-size: 20px;
}
